body{
      background-color: #EAF6F6;
    }
hr{
        border-color: #F76B8A;
        border-style: dotted none none;
        border-width: 5px;
        height: 0px;
        width: 5%;
    }
h1, th{
    color: #66BFBF;
}
