body{
      background-color: #F9F7F7;
    }
hr{
        border-color: #DBE2EF;
        border-style: dotted none none;
        border-width: 8px;
        height: 0px;
        width: 5%;
    }
h1, th{
    color: #3F72AF;
}
p, td{
    color:#112D4E;
}
img:hover{
 background-color: #112D4E;
}
.circular{
    border-radius: 10%;
}
